@model IEnumerable<Exercices_Formulaire_Web.Models.Employe>

@{
    ViewData["Title"] = "Liste des employés";
}

<h1>Liste des employés</h1>

<p>
    <a asp-action="Create">Créer un nouvel employé</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Âge</th>
            <th>Date d'embauche</th>
            <th>Salaire annuel</th>
            <th>En emploi</th>
            <th>Pays</th>
            <th>Département</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Nom</td>
            <td>@item.Age</td>
            <td>@item.DateEmbauche.ToShortDateString()</td>
            <td>@item.SalaireAnnuel.ToString("C")</td>
            <td>@(item.EstEnEmploi ? "Oui" : "Non")</td>
            <td>@item.PaysOrigine?.Nom</td>
            <td>@item.Departement?.Nom</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
